{
  "presets": [
    "@babel/preset-env"
  ],
  "sourceMaps": true,
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@modules": "./modules",
        "@models": "./db/models"
      }
    }]
  ]
}
